.container{
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  height: 88vh;
  margin:0px auto;
}
.content{
  width: 100%;
}
.labelLink{
  font-size:20px;
}
#link:focus{
  border:2px solid #ff6700;
  outline:1px solid #fff;
}
#link{
  width: 100%;
  height:40px;
  border:2px solid black;
  border-radius: 5px;
  outline:1px solid #fff;
}
.formLink{
  width: 100%;
}

input[type="text"]
{
    font-size:20px;
    padding-left: 20px;
}
.btnSubmit{
  margin-top:10px;
  width: 150px;
  height:45px;
  background-color: #ff6700;
  border-radius: 5px;
  color: #fff;
  font-size:20px;
  border-color: #fff;
  border:2px;
  cursor: pointer;
  transition: all 0.2s;
}
.btnSubmit:hover{
  border:2px solid #ff6700;
  background-color: #fff;
  color: #ff6700;
}

body{
  overflow:hidden;
}

#link__current{
  color: #004085;
  border-radius: 2px;
  padding:10px 0px 10px 10px;
  margin-bottom:20px;
  font-size:16px;
  width: 100%;
}

#value_link{
  text-decoration: underline;
  font-style: italic;
}
#link__current{
  visibility:hidden;
 }

#toast__current{
  display:flex;
  justify-content: flex-end;
  position: absolute;
  right:-19%;
}

.toast{
  display:flex;
  justify-content: flex-end;
  position: absolute;
  right:-19%;
  animation-name: animate;
  animation-duration: 3s;
}

.toast__content{
  font-size:18px;
  color: green;
  background:lightgreen;
  border-radius: 3px;
  width: 270px;
  padding:20px 10px;
}


#toast__current__error{
  display:flex;
  justify-content: flex-end;
  position: absolute;
  right:-19%;
}

.toast_error{
  display:flex;
  justify-content: flex-end;
  position: absolute;
  right:-19%;
  animation-name: animate;
  animation-duration: 3s;
}

.toast__content_error{
  font-size:18px;
  color: #721c24;
  background:#f8d7da;
  border-radius: 3px;
  width: 270px;
  padding:20px 10px;
}

@keyframes animate {
  0% {right:-19% }
  25%{right:0%}
  50%{right:0%}
  75%{right:0%}
  100%{right:-19%}
}

